@for (ca of catalystActivity(); track ca.dbId) {
  <div class="catalyst-activity-container">
    <div class="row">
      <div class="label-container">Type</div>
      <div class="composition-container">
        <mat-icon class='custom-icon' svgIcon="catalyst-activity"></mat-icon>
        <span>Catalysis</span>
      </div>
    </div>


    @if (ca.activity) {
      <div class="row">
        <div class="label-container">Activity</div>
        <div class="composition-container">
          <cr-ontology-term [term]="ca.activity"></cr-ontology-term>
        </div>
      </div>
    }

    @if (ca.activity && ca.activity.ecNumber) {
      <div class="row">
        <div class="label-container">EC Number</div>
        <div class="composition-container">
          <span><a
            [href]=" 'https://www.enzyme-database.org/query.php?ec=' + ca.activity.ecNumber">{{ ca.activity.ecNumber }}</a></span>
        </div>
      </div>
    }

    @if (ca.activeUnit) {
      <div class="row">
        <div class="label-container">Active Unit</div>
        <div class="composition-container tree-padding multiple">
          @for (unit of ca.activeUnit; track unit.dbId) {
            <cr-entity-tree [type]="'activeUnit'" [data]="[unit]"></cr-entity-tree>
          }

        </div>
      </div>
    }

    @if (ca.physicalEntity) {
      <div class="row">
        <div class="label-container">Catalyst</div>
        <div class="composition-container tree-padding">
          <cr-entity-tree [type]="'catalyst'" [data]="[ca.physicalEntity]"></cr-entity-tree>
        </div>
      </div>
    }

    @if (catalystActivityReference() && catalystActivityReference().catalystActivity.dbId === ca.dbId) {
      <div class="row">
        <div class="label-container">Reference</div>
        <div class="composition-container ref-padding">

          @for (ref of catalystActivityReference().literatureReference | sortByDate:'year'; track ref.dbId) {
            <cr-publication [publication]=ref [showYear]="true"></cr-publication>
          }
        </div>
      </div>
    }

  </div>
}


