:host {
  width: 100%;
}

.element-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 8px;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: 10px;
  width: 100%;
}


.composition-container {
  column-gap: 20px;
  display: grid;
  //grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  align-items: center;
  padding-left: 10px;
  border-left: 2px solid var(--outline-variant);
  flex: 1;

  min-width: 0; // Allows flex container to shrink properly in Firefox

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}


.column-item {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.item {
  overflow: hidden; // Allows flex container to shrink properly in Firefox
}
