<div class="details-content-container">
  @if (moleculeType() === MoleculeType.PROTEIN || moleculeType() === MoleculeType.CHEMICAL) {
    <cr-structure-viewer [obj]=obj() [xRefs]="xRefs()" [moleculeType]="moleculeType()"></cr-structure-viewer>
    <mat-divider></mat-divider>
  }

  @if (xRefs()) {
    <cr-cross-references [crossRefs]=xRefs()></cr-cross-references>
  } @else {
    <p class="padding">No further information is available. Click the arrow icon in the top right to view more details.</p>
      }
</div>

