<div *ngIf="obj" class="details">

  <div class="content">
    <div class="header">
      <div class="label">
        <mat-icon
          class="custom-icon"
          [matTooltip]="getIcon(obj).tooltip"
          [svgIcon]="getIcon(obj).name">
        </mat-icon>
        <span class="name">{{ obj.displayName }}</span>
      </div>
      <div class="details-button">
        <button mat-button (click)="OpenDetailsPage(obj.stId)">
          <mat-icon class="custom-icon double-arrow" [svgIcon]="'double-arrow-right'"></mat-icon>
          <span class="details-label"> Details page</span>
        </button>
      </div>
    </div>


    <div class="overview" [ngClass]="{'update-layout': obj.referenceEntity}">

      <cr-details-overview [obj]="obj"></cr-details-overview>

      <div *ngIf="obj.hasIcon" class="icon-container">
        <div class="icon" [innerHTML]="iconContent"></div>
      </div>

      <div><p>Enhanced data testing： summation data</p>
      <p *ngIf="obj.summation"> {{ obj.summation[0].displayName }}</p></div>

      <p> Analysis Type: {{ analysisResult?.summary?.type || "" }}</p>

    </div>
  </div>

  <div class="toc">
    <span>TOC placeholder</span>
    <span>External Reference</span>
    <span>Test tissue: 9727355</span>
  </div>

</div>
