<ng-template #dividerTemplate let-text>
  <div class="divider-name">
    <div class="line">
      <mat-divider class="divider"></mat-divider>
    </div>
    <div class="text">{{ text }}</div>
    <div class="line">
      <mat-divider class="divider"></mat-divider>
    </div>
  </div>
</ng-template>


<div *ngIf="obj" id="details" #details [style.--width.px]="details.clientWidth">

  <div class="content">

    <div class="header" id="overview">
      <div class="label">
        <mat-icon
          class="custom-icon"
          [matTooltip]="getIcon(obj).tooltip"
          [svgIcon]="getIcon(obj).name">
        </mat-icon>
        <span class="name">{{ obj.displayName }}</span>
      </div>
      <div class="details-button">
        <a mat-button [href]="'/content/detail/' + obj.stId" target="_blank">
          <mat-icon class="custom-icon double-arrow" [svgIcon]="'double-arrow-right'"></mat-icon>
          <span class="details-label"> Details page</span>
        </a>
      </div>
    </div>


    <div class="overview" [ngClass]="{'update-layout': obj.referenceEntity}">
      <cr-details-tab-overview [obj]="obj"></cr-details-tab-overview>
      <div *ngIf="obj.hasIcon" class="icon-container">
        <div class="icon" [innerHTML]="iconContent"></div>
      </div>
    </div>


    <!-- References divider-->
    <div class="divider-container" *ngIf="obj.literatureReference" id="literatureReference">
      <div class="divider-name-container">
        <ng-container *ngTemplateOutlet="dividerTemplate; context: { $implicit: 'References' }"></ng-container>
      </div>
      <div class="divider-line-container">
        <mat-divider class="divider"></mat-divider>
      </div>
    </div>

    <!-- References container-->
    <div class="element-container" *ngIf="obj.literatureReference" >
      <div class="ref-row" *ngFor="let ref of obj.literatureReference">
        <div class="year-container">{{ ref.year }}</div>
        <div class="composition-container">
          <cr-publication [publication]=ref [showYear]="false"></cr-publication>
        </div>
      </div>
    </div>


    <!-- Authorship divider-->
    <div class="divider-container" *ngIf="authorship.length > 0" id="authorship">
      <div class="divider-name-container">
        <ng-container *ngTemplateOutlet="dividerTemplate; context: { $implicit: 'Authorship' }"></ng-container>
      </div>
      <div class="divider-line-container">
        <mat-divider class="divider"></mat-divider>
      </div>
    </div>

    <!-- Authorship-->
    <div class="element-container" *ngIf="authorship.length > 0">
      <div class="ref-row" *ngFor="let item of authorship">
        <div class="year-container">{{ item.label }}</div>
        <div class="composition-container">
          <div *ngFor="let ie of item.data">
            {{ ie.displayName }}
          </div>
        </div>
      </div>
    </div>


    <div class="elements-container" *ngFor="let element of elements">
      <div *ngIf="obj[element.key] && !element?.manual" [id]="element.key">
        <div class="divider-container">
          <div class="divider-name-container">
            <ng-container *ngTemplateOutlet="dividerTemplate; context: { $implicit: element.label }"></ng-container>
          </div>
          <div class="divider-line-container">
            <mat-divider class="divider"></mat-divider>
          </div>
        </div>
<!--        todo: use shared element-container?-->
        <div class="content-container">
          <div class="control-container">this is navigation control</div>
          <div class="composition-container">
            <div class="item">this is test content</div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="toc">
    <ng-container *ngFor="let element of elements">
        <a *ngIf="obj[element.key]" [routerLink]="[]" [fragment]="element.key" [queryParamsHandling]="'preserve'">
          {{ element.label }}
        </a>
    </ng-container>
  </div>

</div>
