<div *ngIf="obj()" id="overview-container">

  <div class="common-container">

    <div *ngIf="obj().stId" class="row">
      <div class="label">Stable identifier</div>
      <div class="value">{{ obj().stId }}</div>
    </div>

    <div class="row">
      <div class="label">Type</div>
      <div class="value">
        <!-- Display category for RLE -->
        <ng-container *ngIf="obj().category; else showClassName">
          {{ obj().category!.charAt(0)!.toUpperCase() + obj().category!.slice(1) }} {{ obj().className }}
          <ng-container *ngIf="obj().schemaClass === 'Polymerisation' || obj().schemaClass === 'Depolymerisation'">
            &middot; <span class='italic'>{{ obj().schemaClass }}</span>
          </ng-container>
        </ng-container>

        <ng-template #showClassName>
          {{ obj().className === 'TopLevelPathway' ? 'Pathway' : obj().className }}
          <ng-container *ngIf="obj().schemaClass !== obj().className">
            [{{ obj().schemaClass }}]
          </ng-container>
        </ng-template>
      </div>
    </div>

    <div *ngIf="obj().speciesName" class="row">
      <div class="label">Species</div>
      <div class="value">{{ obj().speciesName }}</div>
    </div>

    <div *ngIf="obj().compartment" class="row">
      <div class="label">Compartment</div>
      <div class="value" *ngFor="let compartment of obj().compartment; let last =last">
        <a [href]="compartment.url" target="_blank">{{ compartment.displayName }}{{ !last ? ',' : '' }}</a>
      </div>
    </div>

    <div *ngIf="(obj().name?.length || 0) > 1" class="row">
      <div class="label">Synonyms</div>
      <div class="value">{{ obj().name?.slice(1) }}</div>
    </div>

    <div *ngIf="['CellDevelopmentStep', 'CellLineagePath'].includes(obj().schemaClass) && obj().tissue" class="row">
      <div class="label">Tissue</div>
      <div class="value"><a [href]="obj().tissue?.url" target="_blank">{{ obj().tissue?.displayName }}</a></div>
    </div>
  </div>

  <!-- Common info ends here-->

  <div *ngIf="obj().reviewStatus" class="row">
    <div class="label">Review Status</div>
    <div class="value spinner-container">
      <mat-progress-spinner color="primary" mode="determinate"
                            [value]="reviewStar[obj().reviewStatus!.displayName!].percentage"></mat-progress-spinner>
      <div class="score"> {{ reviewStar[obj().reviewStatus!.displayName!].score }}/5</div>
    </div>
  </div>


  <div *ngIf="obj().summation" class="row">
    <div class="label">Summation</div>
    <div class="value" *ngIf="obj().summation[0].text as summationText">
      <!-- Short content layout, place the content in a row-->
      <div [innerHTML]="summationText | includeRef: allRefs()"></div>

      <!-- Long content layout, place content in left and right columns-->
<!--      <div *ngIf="!isShortContent(summationText)" class="summation-content-container">-->
<!--        <div class="left" [innerHTML]="getLeftColumnContent(summationText) | includeRef: allRefs() ">-->
<!--        </div>-->
<!--        <div class="right" [innerHTML]="getRightColumnContent(summationText) | includeRef: allRefs()">-->
<!--        </div>-->
<!--      </div>-->

      <!--Display summation refs if is available-->
      <div class="summation-refs-container" *ngIf="obj().summation[0].literatureReference">
        <cr-summation-refs-tree [summation]=obj().summation[0]></cr-summation-refs-tree>
      </div>
    </div>
  </div>


</div>
