<div *ngIf="obj" id="overview-container">

  <div class="common-container">

    <div *ngIf="obj.stId" class="row">
      <div class="label">Stable identifier</div>
      <div class="value">{{ obj.stId }}</div>
    </div>

    <div class="row">
      <div class="label">Type</div>
      <div class="value">
         <!-- Display category for RLE -->
        <ng-container *ngIf="category; else showClassName">
      {{ category.charAt(0).toUpperCase() + category.slice(1) }} {{ className }}
          <ng-container *ngIf="obj.schemaClass === 'Polymerisation' || obj.schemaClass === 'Depolymerisation'">
        &middot; <span class='italic'>{{ obj.schemaClass }}</span>
          </ng-container>
        </ng-container>

        <ng-template #showClassName>
      {{ className === 'TopLevelPathway' ? 'Pathway' : className }}
          <ng-container *ngIf="obj.schemaClass !== className">
        [{{ obj.schemaClass }}]
          </ng-container>
        </ng-template>
     </div>
    </div>

    <div *ngIf="speciesName" class="row">
      <div class="label">Species</div>
      <div class="value">{{ speciesName }}</div>
    </div>

    <div *ngIf="compartment" class="row">
      <div class="label">Compartment</div>
      <div class="value" *ngFor="let compartment of compartment; let last =last">
      <a [href]="compartment.url" target="_blank">{{ compartment.displayName }}{{ !last ? ',' : '' }}</a>
    </div>
    </div>

    <div *ngIf="name && name.length >1" class="row">
      <div class="label">Synonyms</div>
      <div class="value">{{ name.slice(1) }}</div>
    </div>

    <div *ngIf="['CellDevelopmentStep', 'CellLineagePath'].includes(obj.schemaClass) && tissue" class="row">
      <div class="label">Tissue</div>
      <div class="value">   <a [href]="tissue.url" target="_blank">{{ tissue.displayName }}</a></div>
    </div>
  </div>

  <!-- Common info ends here-->

  <div *ngIf="reviewStatus" class="row">
    <div class="label">Review Status</div>
    <div class="value spinner-container">
      <mat-progress-spinner color="primary" mode="determinate"
                            [value]="reviewStar[reviewStatus.displayName].percentage"></mat-progress-spinner>
      <div class="score"> {{ reviewStar[reviewStatus.displayName].score }}/5</div>
    </div>
  </div>


  <div *ngIf="summation" class="row">
    <div class="label">Summation</div>
    <div class="value" *ngIf="summation[0].text as summationText">
      <!-- Short content layout, place the content in a row-->
      <div *ngIf="isShortContent(summationText)">{{ summationText }}</div>

      <!-- Long content layout, place content in left and right columns-->
      <div *ngIf="!isShortContent(summationText)" class="summation-content-container">
        <div class="left" [innerHTML]="getLeftColumnContent(summationText)">
        </div>
        <div class="right" [innerHTML]="getRightColumnContent(summationText)">
        </div>
      </div>

      <!--Display summation refs if is available-->
      <div class="summation-refs-container" *ngIf="summation[0].literatureReference">
        <cr-summation-refs-tree [summation]=summation[0]></cr-summation-refs-tree>
      </div>
    </div>
  </div>


</div>
