
:host {
  width: 100%;
}

.modification-container {
  display: flex;
  flex-direction: column;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}

// Adds 10px of padding to the top of the second .catalyst-activity-container, but only when it comes immediately after another .catalyst-activity-container.
.modification-container + .modification-container {
  padding-top: 10px;
}


.row {
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: 10px;
  width: 100%;
}

.composition-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 10px;
  border-left: 2px solid var(--outline-variant);
  flex: 1;
  gap: 5px;
}
