<!--
@for (mr of modifications(); track mr.element.dbId; ) {
  @let element = mr.element;
  <div class="modification-container">

    @if (hasProperty(element, "psiMod") && element.psiMod) {
      <div class="row">
        <div class="label-container">Type</div>
        <div class="composition-container">
          @for (psiMod of element.psiMod; track psiMod.dbId) {
            <span><a [href]="psiMod.url" target="_blank">{{ psiMod.displayName }}
              ({{ psiMod.name[0] }}
              :{{ psiMod.identifier }})</a></span>
          }
        </div>
      </div>
    } @else {
      <div class="composition-container">
        <mat-icon class='custom-icon' [svgIcon]="getSymbol(element).name"></mat-icon>
        <span>{{ element.schemaClass | formatClassName }}</span>
      </div>
    }

    @if (hasProperty(element, "coordinate") && element.coordinate) {
      <div class="row">
        <div class="label-container">Position</div>
        <div class="composition-container">
          <span>{{ element.coordinate }}</span>
        </div>
      </div>
    }

    @if (getModification(element)) {
      @let mod = getModification(element);
      @if (mod) {
        <div class="row">
          <div class="label-container">Modification</div>
          <div class="composition-container">
            @if (isReferenceGroup(mod)) {
              <span><a [href]="mod.url" target="_blank">{{ mod.displayName }}
                ({{ mod.databaseName }}
                :{{ mod.identifier }})</a></span>
            } @else if (isEntity(mod)) {
              <cr-entity-tree [type]="'modification'" [data]="[mod]" [depthIndex]=null></cr-entity-tree>
            }
          </div>
        </div>
      }
    }
  </div>
}
-->
