#tree-container {
  background: var(--surface);
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px 4px 5px;
  gap: 10px;

  width: 24px;
  height: 24px;
}

.ref-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px
}

.ref-column-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
}


.ref-row-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  justify-content: space-between;
  width: 100%;

  .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    flex: 1 1 auto;
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 4px;
  }
}

.publication {
  white-space: normal;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;


  position: relative;
  min-height: fit-content;

  .publication-title {
    padding-left: 12px;
  }
}

/* Ideas from : https://css-tricks.com/the-shapes-of-css/#aa-flag-shape-via-zoe-rooney */
.ribbon {
  width: 8px;
  background: var(--primary);
  position: absolute;
  height: 100%;
  border-radius: 1px 1px 0px 0px;
}

.ribbon:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 4px solid var(--surface);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}


.quote-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background: var(--primary);


  .quote-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px;
    gap: 5px;
    width: 12px;
    height: 12px;
  }
}

.root {
  position: sticky;
  top: 0px;
  z-index: 1;
  background: var(--surface);
}
