<div id="container" class="variables">
  <!--A third party library Angular split helps to build resize layout, more details are : https://angular-split.github.io/-->
  <as-split direction="horizontal" gutterSize="4" #sideSplit>
    <div *asSplitGutter="let isDragged = isDragged" class="custom-left-gutter" [class.dragged]="isDragged"></div>
    <as-split-area [size]="20">
      <div class="left-panel">
        <div class="search">
          PathwayBrowser Demo
        </div>
        <!--        <div class="sidebar">-->

        <div class="species-interactor-container">
          <div class="species" (click)="toggleVisibility('species')" [ngClass]="{'selected': visibility.species}">
            <mat-icon class="custom-icon" svgIcon="species"></mat-icon>
            <div class="species-content">
              <span>Species</span>
              <span>{{ currentSpecies?.shortName }}</span>
            </div>
            <mat-icon class="custom-icon">arrow_drop_down</mat-icon>
          </div>
          <div class="interactor" (click)="toggleVisibility('interactor')"
               [ngClass]="{'selected': visibility.interactor}">
            <mat-icon class="custom-icon" svgIcon="overlay"></mat-icon>
            <div class="overlay-content">
              <span>Overlay</span>
              <!--todo: fix the space for long name-->
              <span *ngIf="currentInteractorResource?.name">{{ currentInteractorResource?.name }}</span>
            </div>
            <mat-icon class="custom-icon">arrow_drop_down</mat-icon>
          </div>
        </div>

        <div [style.display]="visibility.species ? 'block':'none'">
          <cr-species [id]="diagramId" [visibility]="visibility"></cr-species>
        </div>
        <div [style.display]="visibility.interactor ? 'block':'none'">
          <cr-interactors #interactors [cy]="diagram?.cy" [cys]="diagram?.cys"  [hasEHLD]="hasEHLD"
                          (initialiseReplaceElements)="diagram?.initialiseReplaceElements()"></cr-interactors>
        </div>
        <div class="event-hierarchy">
          <cr-event-hierarchy [id]="diagramId" [eventSplit]="sideSplit"></cr-event-hierarchy>
        </div>
      </div>
      <!--      </div>-->
    </as-split-area>

    <as-split-area [size]="80">
      <div class="right-panel">
        <div class="top">
          <button mat-flat-button [matMenuTriggerFor]="an" >Analysis</button>
          <mat-menu #an="matMenu">
            <button mat-menu-item (click)="analysis.example('uniprot').subscribe()">UniProt</button>
            <button mat-menu-item (click)="analysis.example('microarray').subscribe()">Expression</button>
            <button mat-menu-item (click)="analysis.loadAnalysis('MjAyNDEwMTcxODUyNTJfMTI%3D')">GSA</button>
          </mat-menu>

          <mat-slide-toggle color="primary" [(ngModel)]="dark.isDark"><span class="on-primary">Dark mode</span></mat-slide-toggle>

        </div>
        <div class="content">
          <as-split direction="vertical" gutterSize="4">
            <div *asSplitGutter="let isDragged = isDragged" class="custom-gutter" [class.dragged]="isDragged"></div>
            <as-split-area [size]="80">

              <cr-ehld *ngIf="hasEHLD" [id]="diagramId"></cr-ehld>
              <cr-diagram *ngIf="!hasEHLD && hasEHLD !== undefined " #diagram [id]="diagramId" [interactor]="interactors"></cr-diagram>

            </as-split-area>
            <as-split-area [size]="20">
              <cr-details-panel></cr-details-panel>
            </as-split-area>
          </as-split>
        </div>
      </div>
    </as-split-area>
  </as-split>
</div>
