<div id="markers">
@for (maker of markers(); track maker.dbId) {
  <div class="marker-container">
    <div class="row">
      <div class="label-container">Marker</div>
      <div class="composition-container">
        <cr-entity-tree [type]="maker.referenceType=== SchemaClasses.REFERENCE_RNA_SEQUENCE ? DataKeys.RNA_MARKERS :DataKeys.PROTEIN_MARKER"
                        [data]="[maker]"></cr-entity-tree>
      </div>
    </div>

    <div class="row">
      <div class="label-container"></div>
      <div class="composition-container ref-padding">
        @let markerRef = refs().get(maker.dbId);
        @if (markerRef) {
          <cr-refs-tree [refs]=markerRef></cr-refs-tree>
        }
      </div>
    </div>

  </div>
}
</div>
