<div class="variables" [class.dark]="dark.isDark" #container>

  <div id="cytoscape" #cytoscape></div>
  <div id="disease-container" class="drag-container" #compareContainer [style.display]="comparing ? 'flex': 'none'">
    <div id="handle-limits" (mouseup)="dragEnd()" (mouseleave)="dragEnd()"
         (mousemove)="dragMove($event, compareContainer, container)" [class.active]="compareDragging">
      <span id="disease-handle" class="drag-handle" (mousedown)="dragStart()"></span>
    </div>

    <div id="cytoscape-compare" #cytoscapeCompare class="drag-content"></div>
  </div>

  <div id="legend-boundary" [style.--legend-width.px]="ratio  * container.clientHeight">

    <div cdkDrag cdkDragLockAxis="x" cdkDragBoundary="#legend-boundary" id="legend-container"
         (cdkDragMoved)="updateLegend()"
         [style.height.px]="container.clientHeight">
      <div class="legend-group" [class.has-analysis]="analysis.resultSignal()"
           [style.--handle-height.px]="handle.clientHeight">
        <button id="legend-handle" cdkDragHandle #handle>LEGEND</button>
        @if (analysis.resultSignal()) {
          <div class="analysis-legend">
            <cr-analysis-legend></cr-analysis-legend>
          </div>
        }
      </div>
      <div id="legend" #legend></div>
    </div>

  </div>



  <!--  <form id="controls">-->
  <!--    <button mat-raised-button (click)="updateStyle()">Update Style</button>-->
  <!--    <button mat-raised-button (click)="logProteins()">Log Proteins</button>-->
  <!--    <button mat-raised-button (click)="analyse('uniprot')">Uniprot</button>-->
  <!--    <button mat-raised-button (click)="analyse('microarray')">Microarray</button>-->
  <!--    <mat-slide-toggle [(ngModel)]="dark.isDark" name="dark">Dark mode</mat-slide-toggle>-->
  <!--    <span>{{ (reactomeEvents$ | async)?.detail?.reactomeId }}</span>-->
  <!--  </form>-->

</div>
