<mat-tree #tree [dataSource]=dataSource [childrenAccessor]="childrenAccessor" class="component-tree">
  <!-- This is the tree node template for leaf nodes -->

  <mat-nested-tree-node *matTreeNodeDef="let node">
    {{ node.element.name?.[0] }}
  </mat-nested-tree-node>


  <!-- This is the tree node template for expandable nodes -->
  <!--#treeNodeRef="matNestedTreeNode" the instance of the directive or component that is exported under the name matNestedTreeNode-->
  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild"
                        [cdkTreeNodeTypeaheadLabel]="node.name"
                        (click)="loadChildren(node)"
                        matTreeNodeToggle
                        #treeNodeRef='matNestedTreeNode'>
    @let element = node.element;
    <div class="connector-container" [style.--level]="getConnectorLevel(treeNodeRef.level, false)">
      <!--To create an array of a specific length-->
      @for (index of getArray(treeNodeRef.level, false); track index) {
        <div class="connector" [matTooltip]="node.type"
             [ngClass]="getAllConnectors(treeNodeRef._getSetSize(), node, index, treeNodeRef.level)[index]">
        </div>
      }
    </div>

    <div class="mat-tree-node" [style.--level]="getConnectorLevel(treeNodeRef.level, false)">
      <div class="left">
        <mat-icon class="symbol-icon"
                  [matTooltip]="getSymbol(element).tooltip"
                  [svgIcon]="getSymbol(element).name">
        </mat-icon>

        <div class="toggle-icon-container" [attr.aria-label]="'Toggle ' + element.name">
          <mat-icon class="mat-icon-rtl-mirror"
                    [svgIcon]="tree.isExpanded(node) ? 'collapse' : 'expand'">
          </mat-icon>
        </div>
        <span class="name" #name [matTooltip]="element.name?.[0]" [matTooltipDisabled]="!isEllipsisActive(name)">
            @if (node.stoichiometry > 1) {
              <b>{{ node.stoichiometry }} ×</b>
            }
          {{ element.name?.[0] || (element.displayName | extractCompartment: true) }}
        </span>
      </div>


      <div class="right">
        <!--Compartment-->
        @if (!isEvent(element)) {
          <span class="compartment name" #compartment [matTooltip]="element.displayName | extractCompartment"
                [matTooltipDisabled]="!isEllipsisActive(compartment)">{{ element.displayName | extractCompartment }}
          </span>
        } @else {
          @for (has of element.hasCompartment; track has.element.dbId) {
            <span class="compartment name" #compartment [matTooltip]="has.element.displayName"
                  [matTooltipDisabled]="!isEllipsisActive(compartment)">{{ has.element.displayName }}
            </span>
          }
        }

        <!--Species-->
        @if (element.speciesName) {
          <!--todo species could a single object or array of species-->
          @let speciesArr = Array.isArray(element.species) ? element.species : [element.species];
          <!--From Severe acute respiratory syndrome coronavirus 2 to SARS-CoV-2 -->
          @if (element.speciesName.length >= maxStringLength && speciesArr?.length > 0 && speciesArr[0]?.name?.length > 1) {
            @let shortName = getShortest(speciesArr[0].name);
            <span class="species name" [matTooltip]="element.speciesName">{{ shortName }}</span>
          } @else {
            <span class="species name" #speciesName [matTooltip]="element.speciesName"
                  [matTooltipDisabled]="!isEllipsisActive(speciesName)">{{ element.speciesName }}
            </span>
          }
        }

        <div class="select-container">
          <!-- stopPropagation() prevent the matTreeNodeToggle event from triggering when clicking-->
          <button mat-icon-button class="button" (click)="onSelectClick($event, element)">
            <mat-icon class="custom-icon" [svgIcon]="'select'"></mat-icon>
          </button>
        </div>
        <div class="goTo-container">
          <a [href]="'/content/detail/' + element.stId" target="_blank" (click)="$event.stopPropagation()">
            <mat-icon class='custom-icon' [svgIcon]="'double-arrow-right'"></mat-icon>
          </a>
        </div>
      </div>
    </div>


    <!-- Add this details-group and details-tree is for making the connector works in Firefox, to make the mat-nested-tree to take the full height of the parent -->
    <div [class.component-tree-invisible]="!tree.isExpanded(node)" role="group" class="group"
         [class.details-group]="!isNestedView(node.element) && tree.isExpanded(node) ? 'details-group' : ''">
      <ng-container
        *ngIf="!isNestedView(node.element); then details; else entity">
      </ng-container>
    </div>

    <!-- Template for child nodes when parent is EWAS (protein) or Event -->
    <ng-template #details>
      <!-- stopPropagation() prevent the matTreeNodeToggle event from triggering when clicking-->
      <mat-nested-tree-node class='details-tree' (click)="$event.stopPropagation()">
        <div class="details-connector-container"
             [matTooltip]="node.type"
             [style.--level]="getConnectorLevel(treeNodeRef.level, true)">
          <!--To create an array of a specific length-->
          @for (index of getArray(treeNodeRef.level, true); track index) {
            <div class="connector"
                 [ngClass]="index != getArray(treeNodeRef.level, true).length - 1 ? getParentsConnector(node, true)[index] :'otherConnector' ">
            </div>
          }
        </div>

        <div class="details-content-container">
          <!-- Details content -->
          <cr-description-overview [obj]="element" [showSpecies]="false"></cr-description-overview>
          @if (element.referenceEntity) {
            <mat-divider class="divider-color"></mat-divider>
            <!-- External Reference -->
            <cr-external-reference [referenceEntity]=element.referenceEntity></cr-external-reference>
          }
          <!-- Cross References -->
          @if (element.referenceEntity && element.referenceEntity.crossReference) {
            <mat-divider></mat-divider>
            <cr-cross-references [crossRefs]=element.referenceEntity.crossReference></cr-cross-references>
          }
        </div>

      </mat-nested-tree-node>
    </ng-template>

    <!-- Default child template for nested entities-->
    <ng-template #entity>
      <ng-container matTreeNodeOutlet></ng-container>
    </ng-template>

  </mat-nested-tree-node>
</mat-tree>
