@use '@angular/material' as mat;

:host {
  width: 100%;
}

.component-tree {

  @include mat.tree-overrides((
    node-text-weight: 400,
    node-text-size:14px
  ));

  & {
    --padding: 2px;
    --connector-width: 24px;
    --connector-height: 24px;
  }
}

.component-tree-invisible {
  display: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.component-tree .mat-nested-tree-node div[role=group] {
  padding-left: 24px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
//.tree div[role=group] > .mat-nested-tree-node {
//  padding-left: 40px;
//}


.mat-tree-node {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
}

.mat-tree-node:hover {
  background: var(--surface2);
  border-radius: 50px;
}

/* Add padding between connector and tree node and ignore the level 1*/
.mat-nested-tree-node[aria-level="1"] > .mat-tree-node {
  padding: 0 var(--padding)
}

// Space between icon and connector
.mat-tree-node {
  //padding-left: calc(var(--padding) * var(--depth, 1));
  //padding: 0 4px;
  // padding: 0 calc(var(--padding) * var(--level, 1))
}

.left {
  display: flex;
  flex: 0 1 auto; /* Default flex properties for left element */
  align-items: center;
  gap: 5px;
  min-width: 200px;

}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.right {
  flex: 0 1 auto; /* Default flex properties for right element */
  display: flex;
  min-width: fit-content;
  gap: 5px;

  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
}


.mat-tree {
  --mat-tree-node-min-height: 20px;
}

.toggle-icon-container {
  display: flex;
  width: 12px;
  height: 12px;
  align-items: center;
}

.species {
  padding: 0 8px;
  background: var(--primary-container);
  border-radius: 10px;
  align-content: center;
  color: var(--on-primary-container);
}

.compartment {
  padding: 0 8px;
  background: var(--tertiary-container);
  border-radius: 10px;
  align-content: center;
  color: var(--on-tertiary-container);
}

.goTo-container,
.select-container {
  padding: 0;
  gap: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background: var(--primary);

  .custom-icon {
    color: var(--on-primary);
    display: flex;
    padding: 4px;
    width: 12px;
    height: 12px;
    flex-shrink: 0;
  }
}

.symbol-icon {
  display: flex;
  width: var(--connector-width);
  height: var(--connector-height);
  flex-shrink: 0;
}


/* Connector styles*/
.mat-nested-tree-node {
  position: relative;
}

.connector-container {
  position: absolute;
  top: 0;
  height: var(--connector-height);
  display: flex;

  width: calc(var(--connector-width) * var(--level, 1));
  left: calc(-1 * var(--connector-width) * var(--level, 1));
  //padding-left: calc(var(--padding) * var(--depth, 1));

}

.connector {
  width: var(--connector-width);
  height: var(--connector-height);
}

.details-connector-container {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;

  width: calc(var(--connector-width) * var(--level, 1));
  left: calc(-1 * var(--connector-width) * var(--level, 1));
  //padding-left: calc(var(--padding) * var(--depth, 1));

  .connector:not(:last-child) {
    width: var(--connector-width);
    height: 100%
  }

}

.dashedIConnector {
  background-color: var(--on-surface);
  mask: url('/assets/connector/dashed-I.svg');
}

.dashedTConnector {
  background-color: var(--on-surface);
  mask: url('/assets/connector/dashed-T.svg');
}

.dashedLConnector {
  background-color: var(--on-surface);
  mask: url('/assets/connector/dashed-L.svg');
}

.solidIConnector, {
  background-color: var(--on-surface);
  mask: url('/assets/connector/solid-I.svg');
}

.solidTConnector {
  background-color: var(--on-surface);
  mask: url('/assets/connector/solid-T.svg');

}

.solidLConnector {
  background-color: var(--on-surface);
  mask: url('/assets/connector/solid-L.svg');
}

.miniDashedIConnector, {
  background-color: var(--on-surface);
  mask: url('/assets/connector/mini-dashed-I.svg');

}

.miniDashedTConnector {
  background-color: var(--on-surface);
  mask: url('/assets/connector/mini-dashed-T.svg');

}

.miniDashedLConnector {
  background-color: var(--on-surface);
  mask: url('/assets/connector/mini-dashed-L.svg');
}

.otherConnector {
  background-color: var(--primary);
  mask: url('/assets/connector/solid-L.svg');
}


/* Divider styles */
.composition-container {
  @include mat.divider-overrides((
    color: var(--outline-variant),
    width: 2px
  ));
}

.mat-divider {
  margin: 0 6px;
}

.divider-color {
  border-top-color: var(--primary);
}


/* Content tree node styles*/
.details-content-container {
  border: 2px solid var(--primary);
  border-radius: 10px;
  display: flex;
  gap: 6px;
  flex-direction: column;
}


.details-content-container > :first-child {
  padding-top: 6px;
}

.details-content-container > :last-child {
  padding-bottom: 6px;
}
