@use '@angular/material' as mat;


:host {
  width: 100%;
}

#component-container {
  display: flex;
  align-items: flex-start;
  padding: 0;
  width: 100%;
  flex-direction: row;
  gap: 10px;

  font-family: 'Roboto Flex', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;

}


.depth-controller {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: var(--column-width);
  gap: 5px;
}

.composition-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-left: 10px;
  border-left: 2px solid var(--outline-variant);
  flex: 1;
}


.paginator {
  width: 100%;
}


.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  background: light-dark(var(--surface), var(--primary));
  border: 1px solid var(--primary);
  border-radius: 50px;
  color: light-dark(var(--on-surface), var(--surface));
}

.arrow {
  @include mat.icon-button-overrides((
    state-layer-size: 24px,
    icon-color: var(--primary)
  ));

}


.composition-container {
  @include mat.tree-overrides((
    node-text-weight: 400,
    node-text-size:14px
  ));
}

.component-tree {
  width: 100%;

}

.component-tree-invisible {
  display: none;
}

.component-tree ul,
.component-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.component-tree .mat-nested-tree-node div[role=group] {
  padding-left: 24px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
//.tree div[role=group] > .mat-nested-tree-node {
//  padding-left: 40px;
//}


.tree-node {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
}

.tree-node:hover {
  background: var(--surface2);
  border-radius: 50px;
}

.left {
  display: flex;
  flex: 0 1 auto; /* Default flex properties for left element */
  align-items: center;
  gap: 5px

}

.right {
  flex: 0 1 auto; /* Default flex properties for right element */
  display: flex;
  min-width: fit-content;
  gap: 5px;

  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
}


.mat-tree {
  //background: var(--surface);
  //--mat-text-button-horizontal-padding: 5px;
  //--mat-text-button-with-icon-horizontal-padding: 8px;
  --mat-tree-node-min-height: 20px;
}

.treeNodeToggle {
  display: flex;
  width: 12px;
  height: 12px;
  align-items: center;
}

.species {
  padding: 0 8px;
  background: var(--primary-container);
  border-radius: 10px;
  align-content: center;
  color: var(--on-primary-container);
}

.compartment {
  padding: 0 8px;
  background: var(--tertiary-container);
  border-radius: 10px;
  align-content: center;
  color: var(--on-tertiary-container);
}

.goTo-container,
.select-container {
  padding: 0;
  gap: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background: var(--primary);


  .custom-icon {
    color: var(--on-primary);
    display: flex;
    padding: 4px;
    width: 12px;
    height: 12px;
    flex-shrink: 0;
  }
}

.symbol-icon {
  display: flex;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}


// Ideas from https://www.cssscript.com/minimalist-tree-view-pure-css/
.mat-nested-tree-node{
  list-style-type: none;
  position: relative;
}

/* Horizontal line and vertical line as connector  (::before) */
.mat-nested-tree-node::before {
  content: "";
  position: absolute;
  top: 0;
  left: -13px;
  width: 13px;
  height: 11px;

  border-left-width: 2px;
  border-left-color: var(--on-surface);
  border-bottom-width: 2px; // To make a rounded corner
  border-bottom-color: var(--on-surface);

}

/* Vertical line (::after) */
.mat-nested-tree-node::after {
  position: absolute;
  content: "";
  top: 0;
  left: -13px;
  width: 13px;
  height: 100%;

  border-left-width: 2px;
  border-bottom-color: var(--on-surface);
}


/* Hide horizontal line for root nodes */
.mat-nested-tree-node[aria-level="1"]::before {
  display: none;
}

/* Hide vertical line for root nodes */
.mat-nested-tree-node[aria-level="1"]::after {
  display: none;
}

/* Remove lines for the last child */
.group .mat-nested-tree-node:last-child::after {
  display: none;
}

/* Adjust border radius for the last child */
.group .mat-nested-tree-node:last-child::before {
  border-radius: 0 0 0 5px;
}

/* Dynamic border styles based on node type */
.group > .mat-nested-tree-node.dashedConnector::before, {
  border-left-style: dashed;
  border-bottom-style: dashed;
}

.group > .mat-nested-tree-node.dashedConnector::after {
  border-left-style: dashed;
}

.group > .mat-nested-tree-node.solidConnector::before {
  border-left-style: solid;
  border-bottom-style: solid;
}

.group > .mat-nested-tree-node.solidConnector::after {
  border-left-style: solid;
}

.group > .mat-nested-tree-node.smallDashedConnector::before {
  border-left-width: 1px;
  border-bottom-width: 1px;
  border-left-style: dashed;
  border-bottom-style: dashed;
}

.group > .mat-nested-tree-node.smallDashedConnector::after {
  border-left-width: 1px;
  border-left-style: dashed;
}

.otherConnector::before {
  border-left-style: solid;
  border-left-color: var(--primary);
  border-bottom-style: solid;
  border-bottom-color: var(--primary);
  height:70px
}

.otherConnector::after {
  border-left-style: solid;
  border-top-color: var(--primary);
}


