.variables {
  position: relative;
  height: 100%;
}

#controls {
  position: absolute;
  inset: calc(100vh - 40px) 0 0 0;

  * {
    background: var(--surface);
    color: var(--on-surface);
  }

  background: var(--surface);

}

#cytoscape {
  position: absolute;
  inset: 0 0 0 0;
  background: var(--surface);
}

#ehld {
  position: absolute;
  inset: 0 0 0 0;
  background: var(--surface);
  letter-spacing: 0;
}

#legend-boundary {
  --legend-width: 400px;
  --border-width: 2px;
  --handle-width: 20px;

  position: absolute;
  pointer-events: none;
  right: calc(-1 * var(--legend-width) - var(--border-width));
  height: 100%;
  width: calc(2 * var(--legend-width) + var(--handle-width));

  #legend-container {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    width: fit-content;
    left: calc(var(--legend-width) - var(--border-width));
    pointer-events: all;
    height: 100%;
  }

  #legend-handle {
    width: var(--handle-width);
    text-orientation: upright;
    writing-mode: vertical-lr;

    border-radius: 8.5px 0 0 8.5px;
    background: color-mix(in srgb, var(--surface) 80%, transparent);
    backdrop-filter: blur(5px);
    border-left: var(--border-width) solid var(--primary);
    border-top: var(--border-width) solid var(--primary);
    border-bottom: var(--border-width) solid var(--primary);
    border-right: 0;
    cursor: ew-resize;
    color: var(--on-surface);
  }

  #legend {
    width: var(--legend-width);
    height: 100%;
    //border-left: var(--border-width) solid var(--primary);
    background: color-mix(in srgb, var(--surface) 80%, transparent);
    backdrop-filter: blur(5px);

    &:before {
      content: "";
      height: 100%;
      width: 2px;
      background-color: var(--primary);
      position: absolute;
      left: -1px;
      z-index: 4;
    }
  }
}

.drag-container {
  position: absolute;
  left: 10%; // Important: Initial position of compare drag handle
  width: 100%;
  pointer-events: all;
  //position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  height: 100%;
}

#handle-limits {
  --width: 500px;
  --height: 500px;
  position: absolute;
  left: calc(-1 / 2 * var(--width));
  top: calc(50% - 1 / 2 * var(--height));
  width: var(--width);
  height: var(--height);
  //background:#000000aa;
  z-index: 5;
  pointer-events: none;

  &.active {
    pointer-events: all;
    cursor: ew-resize;
  }
}

.drag-handle {
  --width: 4px;
  --height: 30px;

  position: absolute;
  left: calc(50% - 1 / 2 * var(--width) - 4px);
  top: calc(50% - 1 / 2 * var(--height) - 4px);

  border-radius: var(--height);
  width: var(--width);
  height: var(--height);
  border: 4px solid var(--primary);
  cursor: ew-resize;
  color: var(--on-surface);
  pointer-events: all;
  filter: drop-shadow(-2px 0px 0px var(--primary-container)) drop-shadow(2px 0px 0px var(--error-container));
  background: var(--surface);

}

body.dark :host ::ng-deep {
  svg {
    .human_tissue:not(.human_tissue .human_tissue):not(#R-ICO-012474) {
      filter: invert(1) hue-rotate(-195deg);
    }
    .title-bg {

    }
    filter: invert(1) hue-rotate(195deg);

  }


  text {
    fill: var(--surface);
    stroke: var(--on-surface);
    //fill: var(--surface);
    //stroke: var(--on-surface);
    stroke-width: 2px;
    paint-order: stroke;
    stroke-linejoin: round;
  }
}

:host ::ng-deep {
  text {
    //fill: var(--surface);
    //stroke: var(--on-surface);
  }

  .title-text {
    fill: var(--surface);
    stroke: var(--on-surface);
    stroke-width: 3px;
    paint-order: stroke;
    stroke-linejoin: round;
  }

  .analysis-info-container {
    opacity: 1 !important;
    -webkit-transition: all .9s ease-in-out;
    -moz-transition: all .9s ease-in-out;
    transition: all .9s ease-in-out;
  }


  .analysis-text {
    alignment-baseline: central;
    text-anchor: middle;

    fill: var(--surface);
    stroke: var(--on-surface);
    stroke-width: 3px;
    paint-order: stroke;
    stroke-linejoin: round;
  }

}
