
:host {
  width: 100%;
}

#overview-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  gap: 4px
}


.common-container {
  width: 100%;
}


.multi-line-row {
  .label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
  }
}

/* row */
.row {
  display: flex;
  flex-direction: row;
  align-items: stretch; // Stretch children to match the tallest sibling
  gap: 10px;
  width: 100%;
}

.label {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: 200px;
  padding-right: 10px;
  border-right: 2px solid var(--primary);
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.5px;
  color: var(--on-surface);
  flex-shrink: 0; // Prevent shrinking

}

.value {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: var(--on-surface);

  .italic {
    font-style: italic;
    display: contents;
  }

  a {
    text-decoration: none;
    color: var(--primary);
  }

}

/* Star system */
.spinner-container {
  display: flex;
  align-content: center;
  align-items: center !important;
  position: relative;

  mat-progress-spinner {
    box-shadow: 0 0 0 2px var(--outline-variant) inset; // Create a filled shadow circle for mat-progress-spinner
    border-radius: 50%;

    width: 28px !important;
    height: 28px !important;
  }

  .score {
    position: absolute;
    left: 14.29%;
    right: 10.71%;
    top: 14.29%;
    bottom: 14.29%;

    color: var(--on-surface);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;

  }
}

.summation-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  white-space: normal;

  max-height: 180px;
  overflow-y: scroll;
}

.summation-container .left,
.summation-container .right {
  display: flex;
  flex-direction: column;
  text-align: justify;
}



