/* Table */
.base {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

/* row */
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 10px;
  height: 20px;
  width: 100%;

  .label {
    width: 200px;
    height: 20px;

    font-weight: 600;
    font-size: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    justify-content: flex-end;
    padding-right: 10px;
    color: var(--on-surface);
    border-right: 2px solid var(--primary);
  }


  .value {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    height: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: var(--on-surface);

    .italic {
      font-style: italic;
      display: contents;
    }

    a {
      text-decoration: none;
      color: var(--primary);
    }
  }
}


/* Star system */
.spinner-container {
  display: flex;
  align-content: center;
  align-items: center !important;
  position: relative;

  mat-progress-spinner {
    box-shadow: 0 0 0 2px var(--outline-variant) inset;
    border-radius: 50%;
    width: 20px !important;
    height: 20px !important;
  }

  .score {
    position: absolute;
    color: var(--on-surface);
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 0.25px;

  }
}


