<div id="component-container">
  <div class="depth-controller">
    @if (depthControl()) {
      <button mat-icon-button class="arrow" [disabled]="depthIndex() === 1" (click)="firstPage()">
        <mat-icon>first_page</mat-icon>
      </button>
      <button mat-icon-button class="arrow" [disabled]="depthIndex() === 1" (click)="previousPage()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <span class="counter">{{ depthIndex() }}</span>

      <button mat-icon-button class="arrow" [disabled]="depthIndex() === maxDepth()" (click)="nextPage()">
        <mat-icon>chevron_right</mat-icon>
      </button>
      <button mat-icon-button class="arrow" [disabled]="depthIndex() === maxDepth()" (click)="lastPage()">
        <mat-icon>last_page</mat-icon>
      </button>
    }
  </div>

  <div class="composition-container">
    <cr-entity-tree  #entityTree [type]="type()" [data]="data()" [depthControl]="depthControl()" [(depthIndex)]="depthIndex" [(treeLength)]="maxDepth" [(depthChangeSource)]="depthChangeSource"></cr-entity-tree>
  </div>

</div>
