<ng-template #dividerTemplate let-text>
  <div class="divider-name">
    <div class="line">
      <mat-divider class="divider"></mat-divider>
    </div>
    <div class="text">{{ text }}</div>
    <div class="line">
      <mat-divider class="divider"></mat-divider>
    </div>
  </div>
</ng-template>


<div *ngIf="obj()" id="details" #details [style.--width.px]="details.offsetWidth">

  <div class="content">

    <div class="header" id="overview">
      <div class="label">
        <mat-icon
          class="custom-icon"
          [matTooltip]="symbol().tooltip"
          [svgIcon]="symbol().name">
        </mat-icon>
        <span class="name">{{ obj().displayName }}</span>
      </div>
      <div class="details-button">
        <a mat-button [href]="'/content/detail/' + obj().stId" target="_blank">
          <mat-icon class="custom-icon double-arrow" [svgIcon]="'double-arrow-right'"></mat-icon>
          <span class="details-label"> Details page</span>
        </a>
      </div>
    </div>

    <!-- Overview -->
    <div class="overview" [ngClass]="{'update-layout': !icon.isLoading() && icon.value()}">
      <cr-description-overview [obj]="obj()"></cr-description-overview>
      @if (!icon.isLoading() && icon.value()) {
        <div class="icon-container">
          <div class="icon" [innerHTML]="icon.value()! | safe: 'html' : true"></div>
        </div>
      }
    </div>

    <!-- External Reference -->
    @if (externalRef() && externalRef().length > 0) {
      <div class="divider-container" id="referenceEntity">
        <div class="divider-name-container">
          <ng-container
            *ngTemplateOutlet="dividerTemplate; context: { $implicit: Labels.EXTERNAL_REFERENCE }"></ng-container>
        </div>
        <div class="divider-line-container">
          <mat-divider class="divider"></mat-divider>
        </div>
      </div>

      <div class="element-container">
        @for (property of externalRef(); track property.label) {
          <div class="row">
            <div class="label-container">{{ property.label | titlecase }}</div>
            <div class="composition-container"
                 [ngClass]="{'columns-container':isArray(property.value) && !isString(property.value[0])}">
              @if (isArray(property.value) && !isString(property.value[0])) {
                @for (item of property.value; track item.dbId) {
                  <span class="column-item">
                        <a [href]="item.url" target="_blank"> {{ item.databaseName }}:{{ item.identifier }}</a>
                      </span>
                }
              } @else {
                @if (property.label === 'External Reference') {
                  <a [href]="referenceEntity()?.url" target="_blank">{{ referenceEntity()?.displayName }}</a>
                } @else {
                  <span>{{ property.value }}</span>
                }
              }
            </div>
          </div>
        }
      </div>
    }

    <!-- Cross References-->
    @if (crossReferences() && crossReferences().length > 0) {
      <div class="divider-container" id="crossReferences">
        <div class="divider-name-container">
          <ng-container
            *ngTemplateOutlet="dividerTemplate; context: { $implicit: Labels.CROSS_REFERENCES  }"></ng-container>
        </div>
        <div class="divider-line-container">
          <mat-divider class="divider"></mat-divider>
        </div>
      </div>

      <div class="element-container">
        @for (ref of crossReferences() | sortByText :'databaseName'; track ref) {
          <div class="row">
            <div class="label-container">{{ ref.databaseName }}</div>
            <div class="composition-container">
              @for (item of ref.data; track item.dbId) {
                <a [href]="item.url" target="_blank">{{ item.identifier }}</a>
                @if (item !== ref.data[ref.data.length - 1]) {
                  <span class="comma">,</span>
                }
              }
            </div>
          </div>
        }
      </div>
    }

    <!-- Literature References-->
    @if (literatureRefs()) {
      <div class="divider-container" id="literatureReference">
        <div class="divider-name-container">
          <ng-container *ngTemplateOutlet="dividerTemplate; context: { $implicit: Labels.REFERENCE }"></ng-container>
        </div>
        <div class="divider-line-container">
          <mat-divider class="divider"></mat-divider>
        </div>
      </div>


      <div class="element-container">
        @for (ref of literatureRefs() | sortByDate:'year'; track ref.dbId) {
          <div class="row">
            <div class="label-container">{{ ref.year }}</div>
            <div class="composition-container">
              <cr-publication [publication]=ref [showYear]="false"></cr-publication>
            </div>
          </div>
        }
      </div>
    }

    <!-- Authorship-->
    @if (authorship() && authorship().length > 0) {

      <div class="divider-container" id="authorship">
        <div class="divider-name-container">
          <ng-container *ngTemplateOutlet="dividerTemplate; context: { $implicit: Labels.AUTHORSHIP }"></ng-container>
        </div>
        <div class="divider-line-container">
          <mat-divider class="divider"></mat-divider>
        </div>
      </div>

      <div class="element-container">
        @for (item of authorship(); track item) {
          <div class="row">
            <div class="label-container">{{ item.label }}</div>
            <div class="composition-container">
              @for (ie of item.data |sortByDate:'dataTime'; track ie.dbId) {
                <div class="authorship-item">
                  @for (author of ie.author; let i = $index; track author.dbId) {
                    <a [href]="'/content/detail/' + author.dbId" target="_blank">
                      {{ author.firstname }} {{ author.surname }}
                    </a>

                    @if (author.orcidId) {
                      <a [href]="'https://orcid.org/' + author.orcidId" target="_blank">
                        <mat-icon class="orcid-icon" [svgIcon]="'orcid'"></mat-icon>
                      </a>
                    }
                    <!-- Add separator except for last item -->
                    @if (i < ie.author.length - 1) {
                      <span class="comma">,</span>
                    }
                  }
                  - {{ ie.dateTime | authorshipDateFormat }}
                </div>
              }
            </div>
          </div>
        }
      </div>
    }

    <!-- Other forms-->
    @if (otherForms() && otherForms().length > 0) {
      <div class="divider-container" id="otherForms">
        <div class="divider-name-container">
          <ng-container *ngTemplateOutlet="dividerTemplate; context: { $implicit: Labels.OTHER_FORMS }"></ng-container>
        </div>
        <div class="divider-line-container">
          <mat-divider class="divider"></mat-divider>
        </div>
      </div>


      <div class="element-container columns">
        @for (pe of otherForms()! | sortByText :'label'; track pe.dbId) {
          <div class="row padding">
            <div class="label-container">{{ pe.label }}</div>
            <div class="composition-container">
              <a [href]="'/content/detail/' + pe.stId" target="_blank">{{ pe.name[0] }}</a>
            </div>
          </div>
        }
      </div>
    }

    <!-- Inferences(Inferred To)-->
    @if (inferences()) {
      <div class="divider-container" id="inferredTo">
        <div class="divider-name-container">
          <ng-container *ngTemplateOutlet="dividerTemplate; context: { $implicit: Labels.INFERENCES }"></ng-container>
        </div>
        <div class="divider-line-container">
          <mat-divider class="divider"></mat-divider>
        </div>
      </div>


      <div class="element-container columns">
        @for (pe of inferences()! | sortByText :'speciesName'; track pe.dbId) {
          <div class="row padding">
            <div class="label-container">{{ pe.speciesName }}</div>
            <div class="composition-container">
              <a [href]="'/content/detail/' + pe.stId" target="_blank">{{ pe.name[0] }}</a>
            </div>
          </div>
        }
      </div>
    }


    @for (element of elements; track element.key) {
      @if (obj()[element.key] && !element?.manual) {
        <div [id]="element.key" class="element-container">
          <div class="divider-container">
            <div class="divider-name-container">
              <ng-container *ngTemplateOutlet="dividerTemplate; context: { $implicit: element.label }"></ng-container>
            </div>
            <div class="divider-line-container">
              <mat-divider class="divider"></mat-divider>
            </div>
          </div>
          <!--        todo: use shared element-container?-->
          <div class="content-container">
            <div class="control-container">this is navigation control</div>
            <div class="composition-container">
              this is test content
            </div>
          </div>
        </div>
      }
    }

  </div>

  <div class="toc">
    <ng-container *ngFor="let element of elements">
      @if (isTOCIncluded(element.key)) {
        <a
          [routerLink]="[]"
          [fragment]="element.key" [queryParamsHandling]="'preserve'">
          {{ element.label }}
        </a>
      }
    </ng-container>
  </div>

</div>
