<div class="header">
  <span class="title">Species comparison analysis</span>

  <div class="description">
    <div>
      Species comparison analysis helps identify conserved pathway patterns across species. It answers the question: "Is
      the pathway activity or enrichment I observe in my species also present in another species?"
    </div>
    <div>
      You can upload data from multiple species (e.g. human, mouse, zebrafish), and Reactome will automatically map
      their genes or proteins to human equivalents. This allows for cross-species comparison of enriched or regulated
      pathways, helping you uncover shared biological mechanisms or species-specific differences.
    </div>
  </div>
</div>

