<div class="container">
  <div class="controls">
    <button mat-stroked-button [matMenuTriggerFor]="an">Analysis</button>
    <mat-menu #an="matMenu">
      <button mat-menu-item (click)="analysis.example('uniprot').subscribe()">UniProt</button>
      <button mat-menu-item (click)="analysis.example('microarray').subscribe()">Expression</button>
      <button mat-menu-item (click)="clearAnalysis()" *ngIf="analysis.result">Remove analysis</button>
      <!--      <button mat-menu-item>GSA</button>-->
    </mat-menu>
    <button mat-stroked-button [matMenuTriggerFor]="overlay">Overlay</button>
    <mat-menu #overlay="matMenu">
      <cr-interactors #interactorsComponent [cy]="diagram.cy" [cys]="diagram.cys"></cr-interactors>
    </mat-menu>

    <mat-slide-toggle color="primary" [(ngModel)]="dark.isDark">Dark mode</mat-slide-toggle>

    <ng-container *ngIf="analysis.result">
      <mat-form-field style="width: 200px" appearance="outline" [subscriptSizing]="'dynamic'">
        <mat-label>Palette</mat-label>
        <mat-select [(value)]="analysis.palette" (selectionChange)="diagram.changePalette()"
                    [hideSingleSelectionIndicator]="true">
          <mat-select-trigger>
            <div class="palette" [style.background]="analysis.palette.gradient" style="vertical-align: center">
            </div>
          </mat-select-trigger>
          <ng-container *ngFor="let group of analysis.palettes ">
            <mat-optgroup *ngIf="group.valid" style="align-self: center">
              <mat-label align="center">{{ group.name }}</mat-label>
              <mat-option *ngFor="let palette of group.palettes" [value]="analysis.paletteOptions.get(palette)">
                {{ palette }}
                <div class="palette option-content" [style.background]="analysis.paletteOptions.get(palette)?.gradient">
                </div>
              </mat-option>
            </mat-optgroup>
          </ng-container>

        </mat-select>
      </mat-form-field>

    </ng-container>


  </div>
  <div class="diagram-container">
    <cr-diagram [id]="diagramId()" #diagram [interactor]="interactorsComponent"></cr-diagram>
  </div>

</div>

