<div class="download-container">

  @if (!hasDownload()) {
    <div>
      <h3> 📥 Download</h3>
      <p>When a pathway is displayed in the panel above,
        download buttons are available for exporting the diagram in various formats for reuse or reference.
        Supported formats include <b>PDF</b>, <b>SBML</b>, <b>SBGN</b>, <b>BioPAX 2</b>, <b>BioPAX 3</b>.
        A link to the <b>Newt Editor</b> is also provided, allowing you to edit the pathway diagram interactively.
      </p>
      <p>After performing an analysis, you can also download a corresponding <b>analysis report</b>.</p>
    </div>
  }

  @if (finalPathwayName()) {
    <div class="header ">
      <span>Download {{ finalPathwayName() }} {{ finalEventId() }}</span>
      <a class="newt button" [href]=newtUrl() target="_blank">
        <div class="newtIcon" [matTooltip]="'view SBGN in NEWT editor'"
             [innerHTML]="newtIcon()  | safe:'html':true"></div>
      </a>
    </div>
  }

  <!-- reacfoam -->
  @if (!hasDetail() || (!hasDetail() && hasResult())) {
    <h3 class="category">Reacfoam - Voronoi Treemap</h3>
    <div class="container reacfoam">
      <a mat-flat-button class="button" (click)="onReacfoamDownload('image/png')">
        <mat-icon fontSet="symbols">image</mat-icon>
        <span>PNG</span>
      </a>

      <a mat-flat-button class="button" (click)="onReacfoamDownload('image/jpeg')">
        <mat-icon fontSet="symbols">image</mat-icon>
        <span>JPEG</span>
      </a>
    </div>
  }


  <!--pathway format-->
  @if (finalEventId()) {
    <h3 class="category">Pathway Format</h3>
    <div class="container pathway">
      @for (item of pathwayItems; track item) {
        <a mat-flat-button class="button" [href]=item.url target="_blank" [download]=item.fileName>
          <span>{{ item.name }}</span>
        </a>
      }
    </div>
  }

  <!--pathway diagram-->
  @if (ehld.hasEHLD()) {
    <h3 class="category">Pathway Diagram</h3>
    <div class="container pathway">
      <a mat-flat-button class="button"
         [href]="`/ContentService/exporter/diagram/${pathwayId()}.svg`" target="_blank" download>
        <span>SVG</span>
      </a>
    </div>
  }


  <!--Analysis-->
  @if (hasResult()) {
    <h3 class="category">Analysis Results</h3>
    <div class="container analysis">

      <!--GSA analysis-->
      @if (gsaReports()) {
        @for (report of gsaReports(); track report.name) {
          <a mat-flat-button class="button" [href]="report.url" target="_blank" download>
            <mat-icon fontSet="symbols">{{ getGsaIcon(report.name) }}</mat-icon>
            <span>{{ getGsaLabel(report.name) }}</span>
          </a>
        }
      }

      @for (item of analysisItems; track item) {
        @if (item.isShown()) {
          <a mat-flat-button class="button" [href]=item.url [matTooltip]="item.description" target="_blank" download>
            <mat-icon fontSet="symbols">{{ item.icon }}</mat-icon>
            <span>{{ item.title }}</span>
          </a>
        }
      }
    </div>
  }

  <div class="analysis container">
    @if (hasGSAReports() && !gsaReports()) {
      <div class="spinner-container">
        <mat-spinner/>
        <p>Loading GSA analysis results, please wait...</p>
      </div>
    }
  </div>
</div>
