<div class="download-container">
  <h3 class="header">Pathway Format {{ finalPathwayId() }}</h3>
  <div class="pathway-download">

    @for (item of pathwayItems; track item) {
      <a mat-stroked-button class="button" [href]=item.url download>
        @if (item.isSVGIcon) {
          <div class="icon" [innerHTML]="item.icon() | safe:'html':true"></div>
        } @else {
          <mat-icon>{{ item.icon() }}</mat-icon>
        }
        <span>{{ item.type }}</span>
      </a>
    }

  </div>

  @if (hasResult()) {
    <mat-divider class="divider"></mat-divider>
    <h3 class="header">Analysis Results</h3>
    <div class="analysis-download">

      @if (hasGSAReports()) {
        @for (report of gsaReports(); track report.name) {
          <a mat-stroked-button [href]="report.url" target="_blank">
          <span [ngSwitch]="report.name">
              <ng-template [ngSwitchCase]="'MS Excel Report (xlsx)'">
                <mat-icon class="padding-right-ten">table_view</mat-icon>
                <span>Excel Report</span>
              </ng-template>
              <ng-template [ngSwitchCase]="'PDF Report'">
                <mat-icon class="padding-right-ten">picture_as_pdf</mat-icon>
                <span>{{ report.name }}</span>
              </ng-template>
             <ng-template [ngSwitchCase]="'R Script'">
               <mat-icon class="padding-right-ten">code_blocks</mat-icon>
               <span>{{ report.name }}</span>
             </ng-template>
          </span>
          </a>
        }
      }


      @for (item of analysisItems; track item) {
        @if (item.isShown()) {
          <a mat-stroked-button class="button" [href]=item.url download>
            <!--            <div class="icon" [innerHTML]="item.icon() | safe:'html':true"></div>-->
            <mat-icon>analytics</mat-icon>
            <span>{{ item.title }}</span>
          </a>
        }
      }
    </div>
  }


</div>
