@use '@angular/material' as mat;

.container {
  background: color-mix(in srgb, var(--surface) 50%, transparent);

  backdrop-filter: blur(5px);

  border-radius: 21px 21px 0 0;
  border: 2px solid var(--primary);
  border-bottom: 0;

  display: flex;
  flex-direction: column;
  gap: 2px;

  //@include mat.icon-button-overrides((
  //  state-layer-size: 26px,
  //  touch-target-display: 26px,
  //));

  //.small {
  //  --size: 20px;
  //  @include mat.icon-button-overrides((
  //    icon-size: var(--size)
  //  ));
  //  .mat-icon {
  //    font-size: var(--size) !important;
  //    text-align: justify;
  //  }
  //}


  .top {
    display: flex;
    align-items: center;
  }

  .label {
    font: var(--mat-sys-label-large);
    color: var(--on-surface);
    text-align: center;
  }

  .palette-selector {
    display: flex;
    flex-direction: column;
    gap: 2px;
    overflow: hidden;

    transition: all 1s;
  }

  .palette {
    height: 16px;
    width: 100%;
    display: flex;

    justify-content: space-between;
    overflow: hidden;

    &:hover {
      cursor: pointer;
      box-shadow: var(--mat-sys-level1);
    }

    .point {
      height: 100%;
      font-size: 14px;
      line-height: 100%;
      align-content: center;
      color: #ffffff;
      text-shadow: 0 0 4px #000000;

      &.even {
        flex: 1; /* Distributes each item evenly */
        display: flex;
        justify-content: center; /* Centers text/icons */
        align-items: center;
      }


    }
  }
}

.space-between {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
