:host {
  width: 100%;
}

.container {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: 10px;
  width: 100%;
}

.composition-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  border-left: 2px solid var(--outline-variant);
  gap: 5px;
  overflow-x: auto;
  width: 100%;

  //.equation {
  //  display: flex;
  //  flex-direction: row;
  //  width: 100%;
  //  white-space: nowrap;
  //}


  .rhea-reaction-wrapper {
    overflow-x: auto;
    width: 100%;

    .rhea-reaction {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-around;
      gap: 15px;

      .participant {
        display: flex;
        flex-direction: column;
        align-items: center
      }

      .structure-size::ng-deep svg {
        width: 150px;
        height: 150px;
      }

      .connector {
        display: flex;
        align-items: center;
      }

    }

  }


}

.rhea-reaction-wrapper:hover {
  background: var(--card);
  border-radius: 15px;

}
